<div class="justify-content-center">
    <div class="col-sm-12 mt-2">
        <div class="d-flex justify-content-center">
            <div class="col-sm-4 justify-content-between d-flex">
                <div>
                    <button class="btn btn-primary" (click)="nextDate(-1)">Prev</button>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="nextDate(1)">Next</button>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="removeAllEvents()">Remove All Events</button>
                </div>
            </div>
        </div>
        <full-calendar [options]="calendarOptions" id="a_calendar" (eventResize)="onEventResize($event)"
            (eventDrop)="onEventDrop($event)" #calendar>
        </full-calendar>
        <!-- <app-network-graph></app-network-graph> -->
    </div>
</div>

<app-eventform *ngIf="showPromoModal" (showDrawer)="onShowDrawer($event)" [select]="currentData"
    (formDate)="getFormData($event)"></app-eventform>